<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp Backend</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>This is the Backend</h1>
    <p>Start making API calls to the defined Routes</p>
  </body>
</html>
